In [1]:
import glob
import os
import pandas as pd
from tqdm import tqdm
import datetime
import time
import matplotlib.pyplot as plt
import numpy as np

In [93]:
pickle_folder='C:/Users/rahuljayanth/Desktop/Python work/Pickle/Plots/'
file='BN.pkl'

In [85]:
df=pd.read_pickle(pickle_folder+file)
straddle_name='Banknifty CW'
date=datetime.date(2024,9,6)
def bid_summary(df,date,straddle_name):
    columns=['Date','TIMESTAMP','Straddle']
    time=datetime.time(9,14,00)
    df=df.rename(columns={straddle_name:'Straddle'})
    dfbid=df.query("Date==@date and TIMESTAMP != @time and Straddle!=0")[columns].reset_index(drop=True)
    dfbid['cummax']=dfbid['Straddle'].cummax()
    dfbid['cummin']=dfbid['Straddle'].cummin()
    dfbid['Bid']=dfbid['Straddle']-dfbid['cummin']
    dfbid['Decay']=dfbid['cummax']-dfbid['Straddle']
    bid=dfbid['Bid'].max()
    decay=dfbid['Decay'].max()
    bid_time=dfbid.loc[dfbid['Bid']==bid].reset_index()['TIMESTAMP']
    bid_price=dfbid.loc[dfbid['Bid']==bid].reset_index()['Straddle']
    decay_price=dfbid.loc[dfbid['Decay']==decay].reset_index()['Straddle']
    decay_time=dfbid.loc[dfbid['Decay']==decay].reset_index()['TIMESTAMP']
    return  pd.DataFrame([[date,straddle_name,bid,bid_time[0],bid_price[0],decay,decay_time[0],decay_price[0]]],columns=['Date','Straddle_Name','bid','bid_time','bid_price','decay','decay_time','decay_price'])

In [86]:
date=datetime.date(2024,9,4)
bid_summary(df,date,straddle_name)

,Date,Straddle_Name,bid,bid_time,bid_price,decay,decay_time,decay_price
0,2024-09-04,Banknifty CW,37.55,10:58:00,171.65,318.25,15:30:00,0.25

In [87]:
df_bids=pd.DataFrame(columns=['Date','Straddle_Name','bid','bid_time','bid_price','decay','decay_time','decay_price'])
for date in df['Date'].unique():
    try:
        df_bids=pd.concat([df_bids,bid_summary(df,date,straddle_name)])
    except:
        print(date)
df_bids

C:\Users\rahuljayanth\AppData\Local\Temp\ipykernel_32008\1245444334.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_bids=pd.concat([df_bids,bid_summary(df,date,straddle_name)])

2024-01-03 00:00:00
2024-02-21 00:00:00

,Date,Straddle_Name,bid,bid_time,bid_price,decay,decay_time,decay_price
0,2024-01-17,Banknifty CW,61.35,09:19:00,429.55,396.60,15:15:00,32.95
0,2023-10-19,Banknifty CW,20.05,11:36:00,620.70,68.70,14:21:00,585.65
0,2023-10-20,Banknifty CW,22.20,09:47:00,569.50,45.75,15:30:00,523.75
0,2023-10-23,Banknifty CW,99.10,15:03:00,514.85,85.40,15:30:00,429.45
0,2023-10-25,Banknifty CW,70.35,13:01:00,400.90,101.90,15:30:00,299.00
...,...,...,...,...,...,...,...,...
0,2024-08-28,Banknifty CW,26.20,11:19:00,147.30,248.50,15:04:00,40.65
0,2024-08-29,Banknifty CW,36.75,14:06:00,675.35,104.20,15:29:00,633.05
0,2024-08-30,Banknifty CW,17.55,14:00:00,564.75,91.40,15:29:00,523.35
0,2024-09-10,Banknifty CW,44.85,09:49:00,418.95,141.85,15:03:00,278.45
0,2024-09-11,Banknifty CW,173.10,11:39:00,338.50,335.40,15:24:00,3.10

In [92]:
df_bids=df_bids.sort_values(by='Date',ascending=False)b
df_bids.query('bid>150')

,Date,Straddle_Name,bid,bid_time,bid_price,decay,decay_time,decay_price
0,2024-09-11,Banknifty CW,173.10,11:39:00,338.50,335.40,15:24:00,3.10
0,2024-09-06,Banknifty CW,293.90,14:52:00,832.65,155.00,12:24:00,617.35
0,2024-08-05,Banknifty CW,305.65,11:24:00,1069.05,322.45,14:58:00,746.60
0,2024-07-29,Banknifty CW,197.45,12:19:00,739.05,185.60,15:29:00,553.45
0,2024-06-05,Banknifty CW,358.40,09:19:00,1188.70,1163.70,15:19:00,25.00
0,2024-06-04,Banknifty CW,973.80,11:09:00,2717.60,1659.45,15:30:00,1058.15
0,2024-06-03,Banknifty CW,339.20,15:19:00,1580.60,273.95,11:16:00,1241.40
0,2024-04-30,Banknifty CW,150.05,14:02:00,311.45,317.65,15:29:00,3.75
0,2024-04-18,Banknifty CW,338.00,13:31:00,999.25,214.60,14:31:00,784.65

In [96]:
df_bids

,Date,Straddle_Name,bid,bid_time,bid_price,decay,decay_time,decay_price
0,2024-09-11,Banknifty CW,173.10,11:39:00,338.50,335.40,15:24:00,3.10
0,2024-09-10,Banknifty CW,44.85,09:49:00,418.95,141.85,15:03:00,278.45
0,2024-09-09,Banknifty CW,38.25,12:16:00,551.10,204.50,15:29:00,444.45
0,2024-09-06,Banknifty CW,293.90,14:52:00,832.65,155.00,12:24:00,617.35
0,2024-09-05,Banknifty CW,24.10,14:50:00,591.45,103.75,14:39:00,567.35
...,...,...,...,...,...,...,...,...
0,2023-10-09,Banknifty CW,44.90,15:30:00,420.95,92.50,14:29:00,376.05
0,2023-10-06,Banknifty CW,13.40,11:32:00,471.70,79.95,14:44:00,426.50
0,2023-10-05,Banknifty CW,33.80,15:25:00,524.60,79.15,13:58:00,490.80
0,2023-10-04,Banknifty CW,25.40,15:17:00,50.45,233.90,15:02:00,25.05
0,2023-10-03,Banknifty CW,14.15,09:20:00,377.30,113.10,15:29:00,264.20